{{>partial_header}}
package backoff

import "time"

// Linear is an implementation of a backoff strategy applying a linear
// function.
type Linear struct {
	BaseDelay time.Duration
	Jitter    float64
	MaxDelay  time.Duration
}

// Backoff returns the duration to wait.
func (b Linear) Backoff(idx int) time.Duration {
	backoff, max := float64(b.BaseDelay), float64(b.MaxDelay)
	backoff *= float64(idx) + 1

	if backoff > max {
		backoff = max
	}

	backoff = addJitter(backoff, b.Jitter)
	return time.Duration(backoff)
}
